@font-face {
	font-family:'STyuanti_REGULAR';
	src: url('../../font/STyuanti_REGULAR.ttf');
	/*src:
		url('../../font/STyuanti_REGULAR.eot?#font-spider') format('embedded-opentype'),
		url('../../font/STyuanti_REGULAR.woff') format('woff'),
		url('../../font/STyuanti_REGULAR.ttf') format('truetype'),
		url('../../font/STyuanti_REGULAR.svg') format('svg');*/
	font-weight: normal;
	font-style: normal;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'STyuanti_REGULAR';
}
.footer{
	font-size: 10px;
	color: rgba( 165, 165, 165, 0.8 );
	position: fixed;
	bottom: 3%;
}
.mL5{
	margin-left: 5px;
}
.mL8{
	margin-left: 8px;
}
.hide{
	display: none;
}
